## Dev environments: WebStorm, Eclipse, VSCode
.buildpath
.idea/
.vscode/
.project
.settings/

## JS things
node_modules/
npm-debug.log

## Desing drawings and other assets
_design/
_old-version/

## Auth
develop/php/fb-config.php
