## Dev environments: WebStorm, Eclipse, VSCode
.buildpath
.idea/
.vscode/
.project
.settings/

## JS things
node_modules/

## Desing drawings and other assets
_design/
_old-version/

## Auth
php/fb-config.php
