@import "_mixins";


// length = 5
$colors-list: hsla(207, 100%, 42%, .9), hsla(202, 65%, 35%, .9), hsla(304, 38%, 36%, .9), hsla(119, 78%, 27%, .9), hsla(7, 72%, 52%, .9);

@for $i from 1 through length($colors-list) {
    $color: nth($colors-list, $i);

    $color-grad-from: $color;
    $color-grad-to: adjust_color($color, $lightness: -5%, $alpha: .1);

    $color-grad-darker-from: adjust_color($color-grad-from, $lightness: 10%);
    $color-grad-darker-to: $color-grad-to;

    .brick.color-#{$i} {
        a {
            @include gradient($color-grad-from, $color-grad-to);

            .shader {
                @include gradient($color-grad-darker-from, $color-grad-darker-to);
            }
        }
    }


    .overlay-window.color-#{$i} {
        .ovr-shader {
            background-color: change_color($color, $lightness: 30%);
        }

        .ovr-container {
            a {
                color: $color;
            }

            .ovr-header {
                border-bottom-color: change_color($color, $alpha: .4);

                .ovr-title {
                    color: $color;
                }
            }
        }
    }

}
