@import "_font";

/* --------------------------------------- resetting --------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #448;
}

p {
    margin: 0 0 .7em;
}

h1, h2, h3 {
    margin-top: .5em;
    margin-bottom: .25em;
    font-weight: normal;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 125%;
}

/* --------------------------------------- links --------------------------------------- */
a,
a:hover,
a:visited,
a:active {
    color: #ffffff;
}

a {
    img {
        text-decoration: none;
        outline: none;
    }

    span {
        text-decoration: underline;
    }
}


/* --------------------------------------- icons --------------------------------------- */
i {
    // TODO move to overlay
    .icon-l {
        font-size: 35px;
        vertical-align: middle;
    }

    // TODO move to header
    .icon-s {
        font-size: 25px;
        vertical-align: middle;
    }
}

/* --------------------------------------- grid --------------------------------------- */
.row {
    display: block;
    width: auto;
    padding: 0;
}

.column-1,
.column-2,
.column-3,
.column-4 {
    float: left;
    margin: 0;
}

.column-1,
.column-1.no-resize {
    width: 25%;
}

.column-2,
.column-2.no-resize {
    width: 50%;
}

.column-3,
.column-3.no-resize {
    width: 75%;
}

.column-4,
.column-4.no-resize {
    width: 100%;
}

.fl {
    float: left;
}

.fr, [class^=column-].fr {
    float: right;
}

.clearfix:after,
.row:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

/* --------------------------------------- service stuff --------------------------------------- */
.hidden {
    display: none;
}

/* --------------------------------------- transition --------------------------------------- */
$transition-duration: .325s;

.transition-opa {
    -webkit-transition: opacity $transition-duration;
    -moz-transition: opacity $transition-duration;
    -ms-transition: opacity $transition-duration;
    -o-transition: opacity $transition-duration;
    transition: opacity $transition-duration;
}

.transition-bg-color {
    -webkit-transition: background-color $transition-duration;
    -moz-transition: background-color $transition-duration;
    -ms-transition: background-color $transition-duration;
    -o-transition: background-color $transition-duration;
    transition: background-color $transition-duration;
}

.transition-transform {
    -webkit-transition: transform $transition-duration;
    -moz-transition: transform $transition-duration;
    -ms-transition: transform $transition-duration;
    -o-transition: transform $transition-duration;
    transition: transform $transition-duration;
}
