@import "_font";
@import "_vars";
@import "mixins";


// --------------------------- resetting ---------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #448;
}

p {
    margin: 0 0 .7em;
}

h1, h2, h3 {
    margin-top: .5em;
    margin-bottom: .25em;
    font-weight: normal;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 125%;
}

// --------------------------- links ---------------------------
a,
a:hover,
a:visited,
a:active {
    color: #ffffff;
}

a {
    img {
        text-decoration: none;
        outline: none;
    }

    span {
        text-decoration: underline;
    }
}


// --------------------------- grid ---------------------------
.row {
    display: block;
    width: auto;
    padding: 0;
}

.column-1,
.column-2,
.column-3,
.column-4 {
    float: left;
    margin: 0;
}

.column-1,
.column-1.no-resize {
    width: 25%;
}

.column-2,
.column-2.no-resize {
    width: 50%;
}

.column-3,
.column-3.no-resize {
    width: 75%;
}

.column-4,
.column-4.no-resize {
    width: 100%;
}


// --- grid @media override ---
@media #{$small-screen} {
    .column-1 {
        width: 50%;
    }

    .column-2,
    .column-3,
    .column-4 {
        width: 100%;
    }
}
// ----------------------------


.fl {
    float: left;
}

.fr, [class^=column-].fr {
    float: right;
}

.clearfix:after,
.row:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}


// --------------------------- transition ---------------------------
.transition-opa {
    @include auto-prefix-transition(opacity);
}

.transition-background {
    @include auto-prefix-transition(background-color);
}

.transition-transform {
    @include auto-prefix-transition(transform);
}
