@import "constants";

// ------------------ reset ------------------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: hsl(240, 20, 20%);
  color: $text-color;
  font-size: 18px;
  font-family: sans-serif;
}

p {
  margin-bottom: .75em;
  line-height: 150%;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none none;
}

// ------------------ top-level layout ------------------
.main-content {
  min-height: 100%;
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;

  & > header {
    margin: 2em;
  }

  & > section {
    margin: 0 2em;
  }

  & > footer {
    margin: 2em;
  }
}
