$text-color: #fff;
$link-color: #57d;
$error-color: #d57;


$big-text: 150%;
$small-text: 75%;
$x-small-text: 60%;

$content-margin: 5vw;
$content-width: 100vw - 2 * $content-margin;
$content-max-width: 1400px;