@import "constants";

footer {
    & > * {
        font-size: $small-text;
    }
}

.logo-small {
    max-width: 80%;
}

.footer-about-us p {
    margin-right: .75em;
}

.skin {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
    transition: background-color $transition-props;

    // @see `_skin.scss` for colors
}


@media screen and (max-width: $screen-s-width) {
    .logo-small {
        width: 100%;
        margin-bottom: 1em;
    }
}