.clear-fix {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  height: 0;
}

.row, .column {
  display: block;
}

.row {
  &:after {
    @extend .clear-fix;
  }
}

.column, .column-1, .column-2, .column-3, .column-4 {
  float: left;
}

.column, .column-1 {
  width: 25%;
}
.column-2 {
  width: 50%;
}
.column-3 {
  width: 75%;
}
.column-4 {
  width: 100%;
}
