@import "constants";

.logo {
    & > * {
        width: 80%;
    }

    .slogan {
        @extend .big-text;
        margin-top: 1.5em;
        text-align: center;
    }
}

.contact-us {
    line-height: 150%;
}