@import "constants";

.logo {
    div, a img {
        width: 80%;
    }

    .slogan {
        margin-top: 1em;
        font-size: $big-text;
        text-align: center;
    }
}

.contact-us {
    i {
        margin-right: .5em;
    }
}