@media screen and (max-width: 480px) {
    .quadrant {
        width: $quadrant-size * 2;
        height: $quadrant-size * 2;
    }

    .tile {
        &.width-1 {
            width: $quadrant-size;
        }
        &.width-2 {
            width: $quadrant-size * 2;
        }

        &.height-1 {
            height: $quadrant-size;
        }
        &.height-2 {
            height: $quadrant-size * 2;
        }
    }
}
