$colors:    (purple,    rgb(141, 1, 148),   27%),
            (blue,      rgb(38, 113, 238),  51%),
            (green,     rgb(15, 124, 17),   27%),
            (orange,    rgb(209, 70, 40),   47%);

@each $name, $color, $bg-fade in $colors {
    body.#{$name} {
        background-color: darken($color, $bg-fade);

        // tile
        .inner-wrapper {
            background-color: $color;

            &:hover {
                background-color: darken($color, 5%);
            }
        }

        a.link {
            color: lighten($color, 10%);

            &:hover {
                color: $color;
            }
        }
    }

    .skin.#{$name} {
        background-color: $color;

        &:hover {
            background-color: darken($color, 5%);
        }
    }
}

// ---------------------------- cycade gradient ----------------------------
$gradients: (3, 13), (13, 29), (17, 37), (17, 53);
$fading-factor: 1.5 / 1000;

@function gradient-string() {
    $result: _;
    @each $alpha, $size in $gradients {
        $result: $result, linear-gradient(90deg, hsla(0, 0%, 100%, $alpha * $fading-factor) 50%, transparent 50%);
    }
    @return str_slice(#{$result}, 4, 1000);
}

@function size-string() {
    $result: _;
    @each $alpha, $size in $gradients {
        $result: $result, #{$size}px;
    }
    @return str_slice(#{$result}, 4, 1000);
}

body {
    background-image: gradient-string();
    background-size: size-string();
}