$colors: (purple, #616), (blue, #22a), (green, #283), (olive, #662);

@each $name, $color in $colors {
    body.#{$name} {
        background-color: darken($color, 30%);

        // tile
        .inner-wrapper {
            background-color: $color;

            &:hover {
                background-color: darken($color, 5%);
            }
        }

        a.link {
            color: lighten($color, 10%);

            &:hover {
                color: $color;
            }
        }
    }

    .skin.#{$name} {
        background-color: $color;

        &:hover {
            background-color: darken($color, 5%);
        }
    }
}

// ---------------------------- cycade gradient ----------------------------
$gradients: (.006, 13), (.026, 29), (.034, 37), (.038, 53);

@function gradient-string() {
    $result: _;
    @each $alpha, $size in $gradients {
        $result: $result, linear-gradient(90deg, hsla(0,0%,100%,$alpha) 50%, transparent 50%);
    }
    @return str_slice(#{$result}, 4, 1000);
}

@function size-string() {
    $result: _;
    @each $alpha, $size in $gradients {
        $result: $result, #{$size}px;
    }
    @return str_slice(#{$result}, 4, 1000);
}

body {
    background-image: gradient-string();
    background-size: size-string();
}