@import "constants";

$tile-height: 7em;
$tile-padding: .1em;

$color-blue: #44f;

$transition-props: .15s linear;
$text-shadow-props: 0 0 .25em;

.tile {
    // padding: $tile-padding;
    position: relative;
    height: $tile-height;

    .inner-wrapper {
        position: absolute;
        display: block;
        top: $tile-padding;
        right: $tile-padding;
        bottom: $tile-padding;
        left: $tile-padding;
        background-color: $color-blue;
        transition: background-color $transition-props;

        .icon {
            position: relative;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            text-shadow: $text-shadow-props transparent;
            transition: transform $transition-props; //, text-shadow $transition-props;

            &.fa {
                font-size: 300%;
                text-align: center;
            }

            &.file {
                height: 50%;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .title {
            position: absolute;
            left: 4 * $tile-padding;
            bottom: 4 * $tile-padding;
            font-size: $x-small-text;
            line-height: 1;
        }

        // -------------- animation --------------
        &:hover {
            background-color: darken($color-blue, 5%);

            .icon {
                transform: translate(-50%, -50%) scale(1.1, 1.1);
                // text-shadow: $text-shadow-props #000;
            }
        }
    }
}