@import '../../../_scss-includes/_vars';


.overlay-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ovr-shader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(180, 0%, 30%, .9);
}

.transition-trigger .ovr-shader {
    opacity: 0;
}

.ovr-container {
    position: absolute;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    background-color: #fff;
    box-shadow: 0 0 25px 2px hsla(180, 0%, 0%, .3);
}

.transition-trigger .ovr-container {
    opacity: 0;
}

.ovr-header {
    padding: 2em 2em 1.2em;
    border-bottom: 10px solid hsla(150, 30%, 70%, .8);

    .ovr-back i {
        font-size: 35px;
        vertical-align: middle;
    }

    .ovr-title {
        display: inline-block;
        margin-left: .5em;
        white-space: nowrap;
        vertical-align: middle;
        font-size: 140%;
        line-height: 1em;
    }
}

.ovr-content {
    position: absolute;
    top: 7em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    overflow-x: hidden;
    overflow-y: auto;
    color: hsla(210, 5%, 5%, .8);

    p, ul {
        margin: 0 0 1em 0;
    }

    ul {
        padding-left: 3em;
    }


    // ---------------- custom classes ----------------
    .map-canvas,
    .photo img {
        max-width: 95%;
        width: 40em;
        height: 20em;
    }

    .map-canvas {
        background: url('/gfx/map.png') no-repeat center center;
    }

    .photo img {
        height: auto;
    }

    .partners img {
        height: 1em;
        padding-right: .3em;
        vertical-align: middle;
    }
}


// ---------------- @media overrides ----------------
//@media #{$large-screen} {
//    .ovr-title {
//        margin-left: 1em;
//        //width: 80%;
//    }
//}
//
//@media #{$small-screen} {
//    .ovr-title {
//        margin-left: 1em;
//        width: 80%;
//    }
//}
