@import "../../../_scss-includes/_vars";


.application-container > .header {
    min-width: 240px;
    margin: 2em auto;
    color: #fff;

    .header-logo {
        position: relative;
        margin-bottom: 2em;
        /*padding-right: 2em;*/

        img {
            width: 100%;
        }

        .header-slogan {
            text-align: center;
            font-size: 125%;
        }
    }

    .header-contact-us ul li {
        list-style: none;
        line-height: 2em;

        i.fa {
            width: 1.5em;
            font-size: 25px;
            vertical-align: middle;
        }
    }
}


// -------------------- @media overrides --------------------
@media #{$x-large-screen} {
    .application-container > .header {
        margin-left: auto;
        margin-right: auto;
        max-width: $max-width;
        width: 70%;

        .header .header-contact-us {
            width: 25%;
            margin-left: 25%;
        }
    }
}

@media #{$large-screen} {
    .application-container > .header {
        margin-left: 2em;
        margin-right: 2em;

        .header-contact-us ul {
            float: right;
            margin-right: 1em;
        }
    }
}

@media #{$small-screen} {
    .application-container > .header {
        margin-left: 2em;
        margin-right: 2em;

        .header-logo .header-slogan {
            text-align: left;
        }
    }
}