@import '../../../_scss-includes/_vars';


.application-container > .bricks-container {} // for the consistency


.brick a {
    position: relative;
    display: block;
    margin: 0.15em;
    height: 10em;

    * {
        position: absolute;
        display: block;
        vertical-align: middle;
        text-decoration: none;
    }

    .shader {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
    }

    i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 55px;
        vertical-align: middle;
    }

    .brick-title {
        //width: 60%;
        bottom: 1em;
        left: 1em;

        //text-align: center;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        font-size: 75%;
        text-overflow: ellipsis;
    }

    &:hover {
        .shader {
            opacity: 1;
        }

        i {
            //transform: translate(-50%, -65%) scale(.85);
            transform: translate(-50%, -50%) scale(1.25);
        }

        .brick-title {
            //transform: scale(1.25) translateY(-35%);
        }
    }
}


// ----------- overrides -----------
.column-1 {
    a {
        //text-align: center;

        .brick-title {
            display: none;
        }

        //&:hover i {
        //    transform: translate(-50%, -50%) scale(1.25);
        //}
    }
}


// --------------- @media overrides ---------------
@media #{$large-screen} {
    //.column-2 a {
    //    .brick-title {
    //        display: none;
    //    }
    //}
}

@media #{$small-screen} {
    .application-container > .bricks-container {
        margin-left: 2em;
        margin-right: 2em;
    }

    .brick a {
        i {
            font-size: 45px;
        }

        //.brick-title {
        //    max-width: 45%;
        //    margin-left: 2em;
        //}
    }
}


// ----------- custom icons -----------
.icon-custom {
    width: 1.2em;
    height: 1.2em;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-custom-ifts {
    background-image: url("/gfx/icon-ifts.png");
}

.icon-custom-list {
    background-image: url("/gfx/icon-list.png");
}

.icon-custom-aukro {
    background-image: url("/gfx/icon-aukro.png");
}

.icon-custom-slando {
    background-image: url("/gfx/icon-slando.png");
}
